* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
.mmm_container {
  width: 100%;
  background-color: #f1f1f1;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  margin: 0rem /* 0/75 */;
}
.mmm_container .mmm_header {
  width: 100%;
  height: 1.16rem /* 87/75 */;
  position: relative;
  background-color: #ff841d;
}
.mmm_container .mmm_header .left {
  width: 1.16rem /* 87/75 */;
  height: 1.16rem /* 87/75 */;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 1.16rem /* 87/75 */;
}
.mmm_container .mmm_header .left span {
  display: block;
  width: 0.666667rem /* 50/75 */;
  height: 0.666667rem /* 50/75 */;
  text-align: center;
  line-height: 0.533333rem /* 40/75 */;
  margin: 0.306667rem /* 23/75 */ auto;
  font-size: 0.8rem /* 60/75 */;
  color: #fff;
}
.mmm_container .mmm_header .center {
  height: 100%;
  width: 7.466667rem /* 560/75 */;
  margin-left: 1.16rem /* 87/75 */;
  text-align: center;
  line-height: 1.16rem /* 87/75 */;
  font-size: 0.533333rem /* 40/75 */;
  color: #fff;
  font-weight: 700;
}
.mmm_container .mmm_header .right {
  position: absolute;
  top: 0rem /* 0/75 */;
  right: 0rem /* 0/75 */;
  text-align: center;
  padding-top: 0.106667rem /* 8/75 */;
  padding-right: 0.266667rem /* 20/75 */;
}
.mmm_container .mmm_header .right img {
  width: 0.906667rem /* 68/75 */;
  height: 0.906667rem /* 68/75 */;
}
.mmm_container .content li {
  height: 3.466667rem /* 260/75 */;
  border-bottom: 1px solid #f1f1f1;
  background-color: #fff;
  position: relative;
}
.mmm_container .content li .img {
  width: 3.066667rem /* 230/75 */;
  height: 100%;
  padding: 0.333333rem /* 25/75 */;
  line-height: 3.066667rem /* 230/75 */;
  position: absolute;
  top: 0;
  left: 0;
}
.mmm_container .content li .img img {
  width: 100%  ;
  padding: 0.133333rem /* 10/75 */;
}
.mmm_container .content li .re_right {
  position: absolute;
  right: 0;
  top: 0;
  width: 6.866667rem /* 515/75 */;
  height: 3.413333rem /* 256/75 */;
}
.mmm_container .content li .re_right .top {
  width: 100%;
  height: 1.533333rem /* 115/75 */;
  line-height: 0.8rem /* 60/75 */;
  font-size: 0.386667rem /* 29/75 */;
  color: #333333;
}
.mmm_container .content li .re_right .bottom {
  width: 100%;
  height: 0.533333rem /* 40/75 */;
  line-height: 0.533333rem /* 40/75 */;
  font-size: 0.32rem /* 24/75 */;
  padding-right: 0.266667rem /* 20/75 */;
  position: absolute;
  bottom: 0.4rem /* 30/75 */;
  left: 0px;
}
.mmm_container .content li .re_right .bottom .icon {
  font-size: 0.466667rem /* 35/75 */;
  display: block;
  width: 0.48rem /* 36/75 */;
  height: 0.466667rem /* 35/75 */;
  line-height: 0.48rem /* 36/75 */;
}
.mmm_container .wrap {
  height: 1.2rem /* 90/75 */;
  padding: 0.266667rem /* 20/75 */ 0.533333rem /* 40/75 */ 0 0.533333rem /* 40/75 */;
  background-color: #fff;
}
.mmm_container .wrap #selected {
  width: 2.04rem /* 153/75 */;
  height: 0.92rem /* 69/75 */;
  margin-left: 1.2rem /* 90/75 */;
  padding: 0rem /* 0/75 */;
  border: 0.013333rem /* 1/75 */ solid #ccc !important;
  border-radius: 0rem /* 0/75 */ !important;
  font-size: 0.266667rem /* 20/75 */;
}
.mmm_container .wrap button {
  width: 2.16rem /* 162/75 */;
  height: 0.88rem /* 66/75 */;
  font-size: 0.373333rem /* 28/75 */;
  color: #41666f;
  background-image: linear-gradient(to bottom, #dbdbdb, #fff);
}
.mmm_container .mmm_footer {
  width: 100%;
  height: 1.56rem /* 117/75 */;
  margin-top: 0.026667rem /* 2/75 */;
}
.mmm_container .mmm_footer .brand {
  height: 0.92rem /* 69/75 */;
  width: 100%;
  background-color: #ff841d;
  line-height: 0.92rem /* 69/75 */;
  padding-left: 0.373333rem /* 28/75 */;
}
.mmm_container .mmm_footer .brand span {
  font-size: 0.44rem /* 33/75 */;
}
.mmm_container .mmm_footer .brand .icon {
  width: 0.613333rem /* 46/75 */;
  height: 0.533333rem /* 40/75 */;
  margin-top: 0.24rem /* 18/75 */;
}
.mmm_container .mmm_footer .info {
  height: 0.906667rem /* 68/75 */;
  width: 100%;
  border-top: 0.013333rem /* 1/75 */ solid #ccc;
  border-bottom: 0.013333rem /* 1/75 */ solid #ccc;
}
.mmm_container .mmm_footer .info li:nth-child(1) {
  border-left: none;
}
.mmm_container .mmm_footer .info li {
  float: left;
  height: 100%;
  width: 33.33%;
  line-height: 0.906667rem /* 68/75 */;
  text-align: center;
  font-size: 0.4rem /* 30/75 */;
  border-left: 1px solid #ccc;
}
.mmm_container .mmm_footer .info li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #392e30;
}
.mmm_container .mmm_footer .info li a .goTop {
  width: 0.4rem /* 30/75 */;
  height: 0.4rem /* 30/75 */;
}
.mmm_container .mmm_footer .last {
  height: 1.653333rem /* 124/75 */;
  width: 100%;
  padding-top: 0.4rem /* 30/75 */;
}
.mmm_container .mmm_footer .last .first {
  text-align: center;
  font-size: 0.306667rem /* 23/75 */;
}
.mmm_container .mmm_footer .last .first .download a {
  color: #fe0a05;
}
.mmm_container .mmm_footer .last .first .version a {
  color: #020817;
}
.mmm_container .mmm_footer .last .second {
  text-align: center;
  font-size: 0.306667rem /* 23/75 */;
}
