* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
.mmm_container {
  width: 100%;
  height: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  margin: 0rem /* 0/75 */;
}
.mmm_container .mmm_header {
  width: 100%;
  height: 1.28rem;
  background-color: #ff841d;
}
.mmm_container .mmm_header .logo {
  width: 4.44rem /* 333/75 */;
  height: 100%;
  padding-top: 0.266667rem /* 20/75 */;
  margin-left: 0.266667rem /* 20/75 */;
}
.mmm_container .mmm_header .logo img {
  width: 4.946667rem /* 371/75 */;
  height: 0.666667rem /* 50/75 */;
}
.mmm_container .mmm_header .download {
  width: 1.306667rem /* 98/75 */;
  height: 100%;
  padding: 0.133333rem /* 10/75 */;
}
.mmm_container .mmm_header .download img {
  width: 0.906667rem /* 68/75 */;
  height: 0.906667rem /* 68/75 */;
}
.mmm_container .mmm_search {
  width: 100%;
  height: 1.33333333rem;
  background-color: green;
  padding-top: 0.266667rem /* 20/75 */;
  background-color: #fff;
  margin-bottom: 0.24rem /* 18/75 */;
}
.mmm_container .mmm_search #search {
  width: 7.6rem /* 570/75 */;
  height: 0.76rem /* 57/75 */;
  margin-left: 0.24rem /* 18/75 */;
  border-radius: 0.533333rem /* 40/75 */;
  background-color: #f1f1f1;
  font-size: 0.36rem /* 27/75 */;
}
.mmm_container .mmm_search .btn_search {
  width: 1.6rem /* 120/75 */;
  height: 0.8rem /* 60/75 */;
  border-radius: 0.533333rem /* 40/75 */;
  font-size: 0.24rem /* 18/75 */;
  background-color: #ff841d;
  border: 0px;
  color: #fff;
  margin-right: 0.2rem /* 15/75 */;
}
.mmm_container .mmm_footer {
  width: 100%;
  background-color: #efefef;
  height: 3.266667rem /* 245/75 */;
  margin-top: 0.133333rem /* 10/75 */;
  padding-top: 0.666667rem /* 50/75 */;
}
.mmm_container .mmm_footer .info {
  height: 0.906667rem /* 68/75 */;
  width: 100%;
  border-top: 0.013333rem /* 1/75 */ solid #ccc;
  border-bottom: 0.013333rem /* 1/75 */ solid #ccc;
}
.mmm_container .mmm_footer .info li:nth-child(1) {
  border-left: none;
}
.mmm_container .mmm_footer .info li {
  float: left;
  height: 100%;
  width: 33.33%;
  line-height: 0.906667rem /* 68/75 */;
  text-align: center;
  font-size: 0.4rem /* 30/75 */;
  border-left: 1px solid #ccc;
}
.mmm_container .mmm_footer .info li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #392e30;
}
.mmm_container .mmm_footer .info li .goTop {
  width: 0.4rem /* 30/75 */;
  height: 0.4rem /* 30/75 */;
}
.mmm_container .mmm_footer .last {
  height: 1.653333rem /* 124/75 */;
  width: 100%;
  padding-top: 0.4rem /* 30/75 */;
}
.mmm_container .mmm_footer .last .first,
.mmm_container .mmm_footer .last .second {
  text-align: center;
  font-size: 0.306667rem /* 23/75 */;
  height: 0.506667rem /* 38/75 */;
  line-height: 0.506667rem /* 38/75 */;
}
.mmm_container .mmm_footer .last .first {
  margin-bottom: 0;
  text-align: center;
  font-size: 0.306667rem /* 23/75 */;
}
.mmm_container .mmm_footer .last .first .download a {
  color: #fe0a05;
}
.mmm_container .mmm_footer .last .first .version a {
  color: #020817;
}
.mmm_container {
  margin: 0rem /* 0/75 */;
}
.mmm_header {
  width: 100%;
  height: 1.16rem /* 87/75 */;
  position: relative;
  background-color: #ff841d;
}
.mmm_header .left {
  width: 1.16rem /* 87/75 */;
  height: 1.16rem /* 87/75 */;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 1.16rem /* 87/75 */;
}
.mmm_header .left span {
  display: block;
  width: 0.666667rem /* 50/75 */;
  height: 0.666667rem /* 50/75 */;
  text-align: center;
  line-height: 0.533333rem /* 40/75 */;
  margin: 0.306667rem /* 23/75 */ auto;
  font-size: 0.8rem /* 60/75 */;
  color: #fff;
}
.mmm_header .center {
  height: 100%;
  width: 7.466667rem /* 560/75 */;
  margin-left: 1.16rem /* 87/75 */;
  text-align: center;
  line-height: 1.16rem /* 87/75 */;
  font-size: 0.533333rem /* 40/75 */;
  color: #fff;
  font-weight: 700;
}
.mmm_header .right {
  position: absolute;
  top: 0.133333rem /* 10/75 */;
  right: 0rem /* 0/75 */;
  text-align: center;
  padding-right: 0.266667rem /* 20/75 */;
  line-height: 0.906667rem /* 68/75 */;
}
.mmm_header .right img {
  width: 0.906667rem /* 68/75 */;
  height: 0.906667rem /* 68/75 */;
}
.mmm_container {
  margin: 0rem /* 0/75 */;
}
.split {
  width: 0.4rem /* 30/75 */;
  height: 0.64rem /* 48/75 */;
  background-color: red;
  background: url(../images/icon_bar.png) -2.72rem -0.26666667rem no-repeat;
  background-size: 5.906667rem /* 443/75 */ 3.546667rem /* 266/75 */;
}
.content {
  width: 100%;
  padding: 0.266667rem /* 20/75 */;
}
.content .title {
  font-size: 0.533333rem /* 40/75 */;
  color: #585963;
  line-height: 0.8rem /* 60/75 */;
}
.content .tips {
  font-size: 0.306667rem /* 23/75 */;
  color: #8c8f99;
  padding-bottom: 0.506667rem /* 38/75 */;
  line-height: 0.533333rem /* 40/75 */;
}
.content .main {
  width: 100%;
}
.content .main .main-left {
  height: 4.266667rem /* 320/75 */;
  width: 100%;
  font-size: 0.4rem /* 30/75 */;
  line-height: 0.666667rem /* 50/75 */;
}
.content .main .main-left .picwrap {
  float: right;
  width: 3.533333rem /* 265/75 */;
  text-align: center;
  padding-top: 0.4rem /* 30/75 */;
}
.content .main .main-left .picwrap img {
  width: 2.08rem /* 156/75 */;
}
.content .main .current {
  font-size: 0.44rem /* 33/75 */;
  color: #403b2b;
  margin-top: 0.36rem /* 27/75 */;
}
.content .main .main-right {
  height: 730px;
  position: relative;
}
.content .main .main-right img {
  position: absolute;
  margin: 0 auto;
  top: 30%;
  left: 50%;
  margin-left: -1.84rem /* 138/75 */;
  width: 3.706667rem /* 278/75 */;
}
.area {
  width: 100%;
  padding-left: 3.04rem /* 228/75 */;
  padding-right: 3.04rem /* 228/75 */;
}
.area #disstorck {
  width: 100%;
  box-shadow: 0 0 0.066667rem /* 5/75 */ 0.066667rem /* 5/75 */ #f4f4f4;
  padding-left: 0.266667rem /* 20/75 */;
  padding-right: 0.266667rem /* 20/75 */;
  padding-bottom: 0.266667rem /* 20/75 */;
}
.area #disstorck li {
  height: 0.573333rem /* 43/75 */;
  border-bottom: 1px dashed #dcdcdc;
}
.area #disstorck li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none ;
  font-size: 0.346667rem /* 26/75 */;
}
.area #disstorck li a span {
  display: block;
  color: #323637;
  float: left;
  width: 100%;
  height: 100%;
  text-align: left;
}
.area #disstorck li a strong {
  color: #f27710;
  float: right;
}
.buy {
  width: 100%;
  height: 0.666667rem /* 50/75 */;
  background-color: #ff9000;
  padding-left: 0.533333rem /* 40/75 */;
  padding-right: 0.533333rem /* 40/75 */;
  border-radius: 0.066667rem /* 5/75 */;
  font-size: 0.333333rem /* 25/75 */;
  text-align: center;
  line-height: 0.533333rem /* 40/75 */;
  color: #fff;
  margin-top: 0.466667rem /* 35/75 */;
  margin-bottom: 1.146667rem /* 86/75 */;
}
.bigImg img {
  width: 100%;
}
.comment {
  padding: 0.306667rem /* 23/75 */;
}
.comment .tit {
  font-size: 0.453333rem /* 34/75 */;
}
.comment .reply {
  width: 100%;
  height: 2.986667rem /* 224/75 */;
  box-shadow: 0rem /* 0/75 */ 0rem /* 0/75 */ 0.066667rem /* 5/75 */ 0.066667rem /* 5/75 */ #e4e2df;
  margin-top: 0.4rem /* 30/75 */;
}
.comment .reply textarea {
  height: 1.866667rem /* 140/75 */;
  width: 100%;
  border: none;
  resize: none;
}
.comment .reply .ctrl {
  width: 100%;
  height: 1.013333rem /* 76/75 */;
  background-color: #fbfbfb;
  position: relative;
}
.comment .reply .ctrl input {
  width: 2.666667rem /* 200/75 */;
  height: 1.013333rem /* 76/75 */;
  background-color: #ff841b;
  color: #fff;
  font-size: 0.466667rem /* 35/75 */;
  border: none;
  position: absolute;
  top: 0rem /* 0/75 */;
  right: 0rem /* 0/75 */;
}
.comment #newcomment {
  margin-top: 0.333333rem /* 25/75 */;
  height: 0.88rem /* 66/75 */;
  font-size: 0.453333rem /* 34/75 */;
  line-height: 0.88rem /* 66/75 */;
}
.comment .list {
  width: 100%;
}
.comment .list li {
  padding-top: 0.466667rem /* 35/75 */;
}
.comment .list li .userimg img {
  width: 1.066667rem /* 80/75 */;
  height: 1.066667rem /* 80/75 */;
  float: left;
  margin-right: 0.293333rem /* 22/75 */;
}
.comment .list li .name {
  height: 0.533333rem /* 40/75 */;
}
.comment .list li .name .username {
  font-size: 0.373333rem /* 28/75 */;
  color: #5b9fcb;
  float: left;
}
.comment .list li .name .time {
  font-size: 0.373333rem /* 28/75 */;
  color: #9293af;
  float: right;
}
.comment .list li .content {
  font-size: 0.36rem /* 27/75 */;
  color: #9f8671;
  padding-top: 0.133333rem /* 10/75 */;
}
.comment .list li .yinyong {
  background-color: #FBFBFB;
  border: 1px solid #eeeeee;
}
